<footer>
    <section class="footer-logo">
        <a href="/index">
            <img src="/images/default_image.jpg" alt="footer-logo">
        </a>
    </section>

    <section class="footer-nav-bar">
        <nav class="footer-nav-bar-1">
            <ul type='none'>
                <li>
                    <a href="#">
                        Ubicación
                    </a>
                </li>
                <li>
                    <a href="#">
                        Team
                    </a>
                </li>
                <li>
                    <a href="/terapeutas">
                        Terapeutas
                    </a>
                </li>
                <li>
                    <a href="/terapeutas/register">
                        Conviértete en terapeuta
                    </a>
                </li>
            </ul>
        </nav>

        <nav class="footer-nav-bar-1">
            <ul type='none'>
                <li>
                    <a href="#">
                        Código de conducta
                    </a>
                </li>
                <li>
                    <a href="#">
                        Tipos de terapeuta
                    </a>
                </li>
                <li>
                    <a href="/faqs">
                        FAQs
                    </a>
                </li>
                <li>
                    <a href="/login">
                        Inicia sesión
                    </a>
                </li>
                <li>
                    <a href="/user/register">
                        Registrate
                    </a>
                </li>
            </ul>
        </nav>

        <nav class="footer-nav-bar-social">
            <ul type='none'>
                <li>
                    <a href="https://www.facebook.com">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.twitter.com">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </section>

    <div class="footer-copyrights">
        <h4>© 2021 Coralio | Powered by Coralio</h4>
    </div>
</footer>