<footer>
    <div class="bloc bgc-opera-mauve d-bloc" id="bloc-9">
        <div class="container bloc-no-padding-lg bloc-no-padding-md bloc-no-padding-sm bloc-no-padding">
            <div class="row">
                <div class="col">
                    <div><div class="text-center">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 50" stroke-width="1" stroke="transparent" fill="none" stroke-linecap="round" style="max-width:500px"><path d="M264,25H500"></path><path d="M0,25H237"></path><path d="M251,22v7"></path><path d="M247,22v7"></path><path d="M255,22v7"></path><path d="M259,22v7"></path><path d="M243,22v7"></path></svg>
    </div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-4 align-self-center">
                        <img class="img-fluid img-protected img-protected img-corali-style float-lg-none lazyload" src="/images/lazyload-ph.png" data-src="/images/Icono-2.png" alt="Coralio2" />
                        <div class=" d-md-none d-block"><div class="text-center">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 50" stroke-width="1" stroke="transparent" fill="none" stroke-linecap="round" style="max-width:500px"><path d="M264,25H500"></path><path d="M0,25H237"></path><path d="M251,22v7"></path><path d="M247,22v7"></path><path d="M255,22v7"></path><path d="M259,22v7"></path><path d="M243,22v7"></path></svg>
    </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                            <h3 class="mg-md mx-auto d-block tc-white h3-terapeutas-style">
                                <a class="ltc-white letras">Tipos de terapeuta</a><br>
                            </h3>
                            <h3 class="mg-md mx-auto d-block tc-white h3-terapeutas-style">
                                <a class="letras ltc-white">Terapeutas</a><br>
                            </h3>
                            <h3 class="mg-md mx-auto d-block tc-white h3-terapeutas-style">
                                <a class="ltc-white letras">Ubicación</a><br>
                            </h3>
                            <h3 class="mg-md mx-auto d-block tc-white h3-terapeutas-style">
                                <a class="ltc-white letras">Código de conducta</a><br>
                            </h3>
                            <h3 class="mg-md mx-auto d-block tc-white h3-terapeutas-style">
                                <a class="ltc-white letras">Team</a><br>
                            </h3>
                        </div>
                    <div class="col-md-4">
                            <h3 class="mg-md mx-auto d-block tc-white h3-terapeutas-style">
                                <a class="ltc-white letras">Inicia sesión</a><br>
                            </h3>
                            <h3 class="mg-md mx-auto d-block tc-white h3-terapeutas-style">
                                <a class="ltc-white letras">Regístrate ya</a><br>
                            </h3>
                            <h3 class="mg-md mx-auto d-block tc-white h3-terapeutas-style">
                                <a class="ltc-white letras">FAQs</a><br>
                            </h3>
                            <h3 class="mg-md mx-auto d-block tc-white h3-terapeutas-style">
                                <a class="ltc-white letras">Conviértete en terapeuta</a><br>
                            </h3>
                            <div><div class="text-center">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 50" stroke-width="1" stroke="transparent" fill="none" stroke-linecap="round" style="max-width:500px"><path d="M264,25H500"></path><path d="M0,25H237"></path><path d="M251,22v7"></path><path d="M247,22v7"></path><path d="M255,22v7"></path><path d="M259,22v7"></path><path d="M243,22v7"></path></svg>
    </div>
                            </div>
                            <div class="row">
                                    <div class="col align-self-center">
                                        <div class="text-center">
                                            <a><span class="icon-md icon-white fab fa-facebook-f"></span></a>
                                        </div>
                                    </div>
                                    <div class="col align-self-center">
                                        <div class="text-center">
                                            <a><span class="icon-md icon-white fab fa-instagram"></span></a>
                                        </div>
                                    </div>
                                    <div class="col align-self-center">
                                        <div class="text-center">
                                            <a><span class="icon-md icon-white fab fa-twitter"></span></a>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="text-center">
                                            <a><span class="icon-md icon-white fab fa-linkedin-in"></span></a>
                                        </div>
                                    </div>
                                </div>
                        </div>
                </div>
        </div>
    </div>
    <!-- bloc-9 END -->
    
    <!-- bloc-10 -->
    <div class="bloc bgc-opera-mauve d-bloc" id="bloc-10">
        <div class="container bloc-no-padding-lg bloc-no-padding-sm bloc-no-padding">
            <div class="row">
                <div class="col align-self-center">
                    <div><div class="text-center">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 50" stroke-width="1" stroke="transparent" fill="none" stroke-linecap="round" style="max-width:500px"><path d="M264,25H500"></path><path d="M0,25H237"></path><path d="M251,22v7"></path><path d="M247,22v7"></path><path d="M255,22v7"></path><path d="M259,22v7"></path><path d="M243,22v7"></path></svg>
    </div>
                    </div>
                    <h4 class="mg-md text-lg-center h4-style text-sm-center mx-auto d-block text-center tc-white-2">
                            ©copyright 2021 coralio.com.mx
                        </h4>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- Additional JS -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script> -->
<script src="/js/menu.js"></script>
<script src="https://kit.fontawesome.com/41e7e41392.js" crossorigin="anonymous"></script>
<script src="/js/jquery-3.5.1.min.js?971"></script>
<script src="/js/bootstrap.bundle.min.js?3386"></script>
<script src="/js/blocs.min.js?6126"></script>
<script src="/js/lazysizes.min.js" defer></script>
<script src="/js/page-scroll-progress.js?5527"></script>

<!-- Additional JS END -->