<div class="bloc sticky-nav bgc-white l-bloc" id="bloc-0" data-original-offset="0">
	<div class="container bloc-no-padding-lg bloc-no-padding-md bloc-no-padding-sm bloc-no-padding">
		<div class="row">
			<div class="col">
				<nav class="navbar row navbar-light navbar-expand-lg" role="navigation">
					<a class="navbar-brand" href="/"><img src="/images/Coralio.png" alt="logo" /></a>
					<button id="nav-toggle" type="button" class="ml-auto ui-navbar-toggler navbar-toggler border-0 p-0 " data-toggle="collapse" data-target=".navbar-11854" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse navbar-11854 special-dropdown-nav">
						<ul class="site-navigation nav navbar-nav ml-auto">
							<li class="nav-item">
								<a href="/terapeutas" class="nav-link ltc-black letras">Terapeutas</a>
							</li>
							<li class="nav-item">
								<a href="/terapeutas/register" class="nav-link ltc-black letras">Conviértete en terapeuta</a>
							</li>
							<li class="nav-item">
								<a href="/faqs" class="nav-link ltc-black letras">FAQs</a>
							</li>
							<li class="nav-item">
								<a href="/login" class="nav-link ltc-black letras">Inicio de sesión</a>
							</li>
							<li class="nav-item">
								<a href="/user/register" class="btn letras float-lg-none btn-rd btn-pastel-red">Registrate</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>