<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<meta name="robots" content="index, follow" />
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    <title><%= title %></title>

    <script src="https://kit.fontawesome.com/41e7e41392.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <link rel="stylesheet" href="/stylesheets/register.css">

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css?7592">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css?3219">
	<link rel="stylesheet" type="text/css" href="/stylesheets/animate.min.css?5492">
	<link rel="stylesheet" type="text/css" href="/stylesheets/all.min.css">

</head>