<header>
    <section class="header-logo">
      <a href="/index"><img src="/images/default_image.jpg" alt="logo-image"></a>
    </section>
    <nav class="header-nav-bar">
      <ul type='none'>
        <li>
          <a href="/terapeutas">Terapeutas</a>
        </li>
        <li>
          <a href="/terapeutas/register">Conviértete en terapeuta</a>
        </li>
        <li>
            <a href="/faqs">FAQs</a>
          </li>
        <li>
          <a href="/login">Inicio de sesión</a>
        </li>
        <li>
          <a href="/user/register">Registro</a>
        </li>
      </ul>
    </nav>
  </header>