
<header id="header">
    <div id="barra-progreso" class="barra-progreso"></div>
    <section class="header-logo">
      <a href="/index"><img src="/images/logoCoralio.png" alt="logo-image"></a>
    </section>
    <div class="burger-menu">
      <i class="fas fa-bars" id="iconos"></i>
    </div>
    <nav class="header-nav-bar">
      <ul type='none'>
        <li>
          <a href="/terapeutas">Terapeutas</a>
        </li>
        <li>
          <a href="/terapeutas/register">Conviértete en terapeuta</a>
        </li>
        <li>
            <a href="/faqs">FAQs</a>
          </li>
        <li>
          <a href="/login">Inicio de sesión</a>
        </li>
        <li>
          <a href="/user/register">Registro</a>
        </li>
      </ul>
    </nav>
    
  </header>