<div class="bloc sticky-nav bgc-white l-bloc none" id="bloc-0">
	<div class="container bloc-no-padding-lg bloc-no-padding-md bloc-no-padding-sm bloc-no-padding">
		<div class="row">
			<div class="col">
				<nav class="navbar row navbar-light navbar-expand-lg" role="navigation">
					<a class="navbar-brand" href="/"><img src="/images/Icono-Coralio-Lila.png" alt="logo" /></a>
					<button id="nav-toggle" type="button" class="ui-navbar-toggler navbar-toggler border-0 p-0 ml-auto mr-md-0" data-toggle="collapse" data-target=".navbar-11854" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse navbar-11854 special-dropdown-nav">
						<ul class="site-navigation nav navbar-nav ml-auto">
							<li class="nav-item">
								<a href="/terapeutas" class="nav-link ltc-black letras">Busca tu terapeuta</a>
							</li>
							<li class="nav-item">
								<a href="/terapeutas/register" class="nav-link ltc-black letras">Conviértete en terapeuta</a>
							</li>
							<li class="nav-item">
								<a href="/faqs" class="nav-link ltc-black letras">FAQs</a>
							</li>
							<li class="nav-item">
								<a href="/login" class="nav-link ltc-black letras">Inicio de sesión</a>
							</li>
							<li class="nav-item">
								<a href="/user/register" class="nav-link ltc-black letras">Regístrate ya</a>
							</li>
						</ul>
					</div>
					<div class="navbar-content-area col d-lg-block   d-none col-lg-2">
						<div class="text-center">
							<a href="/terapeutas" class="btn btn-rd btn-opera-mauve letras-2">Empieza tu tratamiento</a>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>