<!DOCTYPE html>
<html lang="en">
<!-- head --> 
<%- include('./partials/head', {title: title}) %>
<!-- /head -->
<body>
    <!-- header --> 
    <%- include('./partials/header') %>
    <!-- /header -->
    <main>
        <h1>Conviértete en terapeuta</h1>
        <div id="terap-register">
            <form action="/index" method="POST">
                
            </form>
        </div>
    </main>
    <!-- footer -->
    <%- include('./partials/footer') %>
    <!-- /footer -->
</body>
</html>