:root {
    --coral: #FF848B;
    --coralFuerte: #F8332B;
    --coralClaro: #FFD0C6;
    --naranjaClaro: #FF8160;
    --amarilloClaro: #FFEBAC;
    --naranja: #F76C31;
    --backgroundColor: #FF833F;
  
    --fuentePrincipal: 'Montserrat', sans-serif;
    --fuenteSecundaria: helvetica;
  }

.main-terap-register, .main-login-register{
    margin: auto;
    margin-top: 130px;
    margin-bottom: 30px;
    background-color: white;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px rgb(100 100 100);
    background-color: var(--amarilloClaro);
}
.main-terap-register h1, .main-login-register h1{
    text-align: center;
}

.form-control-register{
    padding: 10px;
    text-align: center;
}
.form-control-register label{
    font-size: 2rem;
    color: black;
    display: block;
}

.especialidades{
    display: flex;
    align-items: center;
    text-align: start;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}
.especialidades label{
    font-size: 1rem;
    display: inline;
    width: 50%;
}

.especialidad{
    padding: 10px 5px 0 5px;
}

.form-control-register input, textarea{
    border: none;
    border: var(--coralFuerte) 1px solid;
    padding: 14px 24px;
    border-radius: 14px;
    width: 80%;
    transition: all 0.5s;
    outline: none;
}

.form-control-register input:focus{
    border: var(--naranja) 3px solid;
}

.form-control-register input[type = 'file']{
    border: none;
}

.form-control-register button{
    margin: auto;
}
.form-file{
    display: none;
}
.form-file-button{
    background-color:transparent;
    color: white;
    border: none;
}
.file-button{
    width: 80%;
    margin: auto;
    padding: 12px 14px;
    border: none;
    border-radius: 14px;
    color: white;
    background-color: var(--coralFuerte);
    font-size: 1.5rem;
    transition: all 0.5s;
}

#button-register{
    width: 80%;
    margin: auto;
    margin-top: 65px;
}

#button-register button{
    margin: auto;
    width: 100%;
    font-size: 1.5rem;
    transition: all 0.5s;
}

.especialidades input{
    width: 20px;
}

.file-button:hover, #button-register button:hover{
    color: var(--coralFuerte);
    background-color: var(--coralClaro);
    border: 1px var(--coralFuerte) solid;
}

.file-button:hover  i{
    color: var(--coralFuerte);
}

.form-terap, .form-login{
    display: flex;
    flex-wrap: wrap;
}

.col1, .col2{
    width: 50%;
}

.errors-style {
    font-size: 1.5rem;
    color: red;
    margin-bottom: 15px;
    text-align: center;
}

@media (max-width: 480px) {
    .col1, .col2{
        width: 100%;
    }
    .especialidades label{
        width: 100%;
    }
    #button-register{
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
}